br(clear="all")
div(class="tileView {{colorName}}", ng-click="showEditPanel();", ng-if="colorName=='red' || colorName=='yellow'", ng-init="loaddata();")
    div(id="areaLabel")
        {{arealabel}}
    div(id="categoryLabel")
        {{categorylabel}}
    div(id="category")
        {{categoryname}}
    p Reason for Challenge
    div(class = "panelContent {{nullcontent1}}")
        {{reasonContent}}
    p Solution & Anticipated Green Date
    div(class = "panelContent {{nullcontent2}}")
        {{solutionContent}}
    p Support Needed
    div(class = "panelContent {{nullcontent3}}")
        {{supportContent}}

div(edit-panel class="editPanel", ng-show="showEditPanelFlag")