p {{categoryname}}
div(class="areaLabel"){{arealabel}}
div
    div(class = "colorSelector {{colorName}}", ng-click="showColorPanelFlag = true;")
    div(color-panel class="colorPanel", ng-show="showColorPanelFlag")
