br(clear="all")
div(class="tileView {{colorName}}", ng-click="showEditPanel();", ng-if="colorName=='red' || colorName=='yellow'")
    div(id="areaLabel")
        {{arealabel}}
    div(id="categoryLabel")
        {{categorylabel}}
    div(id="category")
        {{categoryname}}
    p Reason for Challenge
    div(id="divReasonContent", class = "panelContent {{nullcontent1}}")
        {{reasonContent}}
    p Solution & Anticipated Green Date
    div(id="divSolutionContent", class = "panelContent {{nullcontent2}}")
        {{solutionContent}}
    p Support Needed
    div(id="divSupportContent", class = "panelContent {{nullcontent3}}")
        {{supportContent}}

div(edit-panel class="editPanel", ng-show="showEditPanelFlag")