!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title TPOC APP
    link(rel='stylesheet', href='/css/app.css')
    link(href='http://fonts.googleapis.com?family=Source+Sans+Pro', rel='stylesheet' type='text/css')
  body
    block body